:root {
  --tan: #f8f4e6;
  --black: #2A2D37;
  --darkBlack: #22252D;
  --lightBlack: #5D5F63;
  --white: white;
  --blue: #A1E5F0;
  --red: #E56A6A;
}
body{
  font-family: sans-serif;
  font-size: 12px;
  margin: 0;
}
#background{
  background: var(--tan);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#main-container{
  background: var(--darkBlack);
  border: 2px solid black;
  border-radius: 5px;
  width: 300px;
}
#display-container{
  padding: .5rem 1rem;
}
#button-container{
  background: var(--black);
  border-radius: 10px 10px 0 0;
  padding: .5rem;
  display: grid;
  grid-template: 
    "clear clear div multi"
    "seven eight nine minus"
    "four five six add"
    "one two three equals"
    "zero zero dec equals";
  grid-gap: 5px;
}
#display-container{
  text-align: right;
}
#display{
  color: var(--white);
}
#top-display{
  color: var(--white);
}
button{
  background: var(--darkBlack);
  border-radius: 5px;
  border: none;
  color: var(--white);
}
button:hover{
  background: var(--lightBlack);
}
#clear{
  grid-area: clear;
  color: var(--blue);
}
#divide{
  grid-area: div;
  color: var(--red);
}
#multiply{
  grid-area: multi;
  color: var(--red);
}
#seven{
  grid-area: seven;
}
#eight{
  grid-area: eight;
}
#nine{
  grid-area: nine;
}
#subtract{
  grid-area: minus;
  color: var(--red);
}
#four{
  grid-area: four;
}
#five{
  grid-area: five;
}
#six{
  grid-area: six;
}
#add{
  grid-area: add;
  color: var(--red);
}
#one{
  grid-area: one;
}
#two{
  grid-area: two;
}
#three{
  grid-area: three;
}
#equals{
  grid-area: equals;
  color: var(--blue);
}
#zero{
  grid-area: zero;
}
#decimal{
  grid-area: dec;
}
